<h1>Showing</h1>

<table id="List", class="table table-hover">
  <tr>
    <th>Time</th>
    <th>Type</th>
    <th>Movei_id</th>
    <th>Purchase</th>
    <th></th>
    <th></th>
  </tr>

<% @showings.each do |showing| %>
  <tr>
    
    <td><%= showing.time %></td>
    <td><%= showing.type %></td>
    <td><%= showing.movie_id %></td>

    <td><%= link_to 'Show', showing %></td>
    <td><%= link_to 'Edit', edit_showing_path(showing) %></td>
    <td><%= link_to 'Destroy', showing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Purchase', ticket_path %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Please note that once you click purchase you will buy tickets immediately using you current account', '#' %>
