<h3>All users</h3>


<table id="List", class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

<% @users.each do |user| %>
  <tr>
  
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.mobile_number %></td>
    <td><button class="btn btn-mini" type="button"><%= link_to 'Show', user %></button></td>
    <td><button class="btn btn-mini" type="button"><%= link_to 'Edit', edit_user_path(user) %></button></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New User', new_user_path %>
