<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD

  <title><%= title %></title>

 

=======
<<<<<<< HEAD
  <title><%= title %></title>
=======
  <title>OTPS</title>
>>>>>>> 08483deb6021caaf7354953db0e04bd5a6088e77
>>>>>>> 6b622f47cdff519ea5c3b963930c258727fcc30f
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> 6b622f47cdff519ea5c3b963930c258727fcc30f
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      	<%= render 'partials/side' %> 
    </div>
    <div class="span10">
      	
        <body>
			<% flash.each do |name, msg| %>
			    <%= content_tag :div, msg, :id => "flash#{name}" %>
			  <% end %>
		<%= yield %>

		</body>


    </div>

  </div>
</div>
<footer>
<center><%= render 'partials/footer' %> </center> <br />
	<center>Webmaster Information: AFRAH HASSAN :: NAWAL BEHIH :: OLA DAHER
			&nbsp;&nbsp;&copy 2012</center>
	</footer>
</html>

<<<<<<< HEAD


=======
=======
<body>

<%= yield %>

</body>
</html>
>>>>>>> 08483deb6021caaf7354953db0e04bd5a6088e77
>>>>>>> 6b622f47cdff519ea5c3b963930c258727fcc30f
