<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      	<%= render 'partials/side' %> 
    </div>
    <div class="span10">
      	
        <body>
			<% flash.each do |name, msg| %>
			    <%= content_tag :div, msg, :id => "flash#{name}" %>
			  <% end %>
		<%= yield %>

		</body>


    </div>

  </div>
</div>
<footer>
<center><%= render 'partials/footer' %> </center> <br />
	<center>Webmaster Information: AFRAH HASSAN :: NAWAL BEHIH :: OLA DAHER
			&nbsp;&nbsp;&copy 2012</center>
	</footer>
</html>

